<!DOCTYPE html>
<html>
    <head>
        <title>Page not Found</title>
        <link rel="icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            {{!-- <h1>Help</h1> --}}
            {{!-- <p>{{name}}</p> --}}
            {{errorMessage}}
        </div>

        {{>footer}}
    </body>
</html>