<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>   
        <div class = "main-content">
            {{>header}}
            {{!-- <h1>About</h1> --}}
            {{!-- <p>{{name}}</p> --}}
            <img class = "me" src="assets/passport_photo.jpg" alt="">
        </div>

        {{>footer}}
    </body>
</html>